{% extends 'base.html' %}

{% block title %}Головна - IT-Shop{% endblock %}

{% block content %}
<div class="text-center">
    <a href="/cart/" class="btn btn-outline-primary">Корзина</a>
    <a href="/orders/" class="btn btn-outline-success">Замовлення</a>
    <h1 class="text-primary">Ласкаво просимо до IT-Shop!</h1>
    <p class="lead">У нас найкращі технології за доступними цінами.</p>
    <img src="/static/images/logo.jpg" class="img-fluid rounded shadow mt-3" alt="Shop">
</div>
{% endblock %}
